@using MvcCv.Models.Entity
@model List<TblHobilerim>
<div class="resume-section-content">
    <i class="fas fa-code"></i>
    <h2 class="mb-5">BLOG YAZILARIM</h2>
    @foreach (var item in Model)
    {
        <p>@item.Aciklama1</p>
        <p class="mb-0">@item.Aciklama2</p>
    }
</div>

