@model MvcCv.Models.Entity.TblYeteneklerim
@{
    ViewBag.Title = "YetenekDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yetenek Düzenleme Sayfası</h4>
<br />
<br />
<form class="form-control" method="post">
    <br />
    <br />
    @Html.Label("Yetenek Açıklaması")
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Güncelle</button>
</form>
